@import '../scss/_vars.scss';
//Scroll bar style
::-webkit-scrollbar {
       width: 10px;
}
::-webkit-scrollbar-track {
background: #ffffff;
}
::-webkit-scrollbar-thumb {
background: $brand;
}
::-webkit-scrollbar-thumb:hover {
background: #FF007A;
}
html { 
       scroll-behavior: smooth; 
     }
body{
       font-family: 'Montserrat', sans-serif;
       background-color: $brand;
       scroll-behavior: smooth;
}
nav{
       padding: 0 !important;
       background-color: #fff;
       height: 286px;
       a{
              font-size: 20px !important;
              color: $brand !important;
              font-weight: 700 !important;
       }
       .nav-item{
              &:first-of-type{
                     padding-top: 25px;
              }
              
       }
       .navbar-toggler{
              outline: none;
              border: 0;
              box-shadow: none;
              &:focus, &:active{
                     outline: none;
                     box-shadow: none;
              }
              .nav-toggle-icon{
                     font-size: 24px;
                     color: $brand;
              }
       }
       .navbar-brand{
              img{
                     width: 130px;
              }
       }
       .navbar-collapse{
              text-align: center !important;
       }
       @media (min-width:576px) and (max-width:768px) {
              a{
                     font-size: 27px !important;
              }
              .navbar-brand img{
                     width: 155px;
              }
              .navbar-toggler{
                     .nav-toggle-icon{
                            font-size: 30px;
                     }
              } 
       }
       @media screen and (min-width:768px) {
              .navbar-brand{
                     margin-bottom: 0;
              }
              .navbar-collapse{
                     text-align:start;
              }
       }
       @media screen and (min-width:992px) {
              a{
                     font-size: 2rem !important;
                     color: $brand !important;
                     font-weight: 800 !important;
              }
              .navbar-brand{
                     img{
                            width: 20.538rem;
                            margin-left: 67px;
                     }
              }
              .nav-item{
                     &:first-of-type{
                            padding-top: 0;
                     }
                     &:nth-child(2){
                            margin: 0 106px;
                     }
                     &:nth-child(3){
                            margin: 0 102px 0 0;
                     }
              }
       }
}
#hero-section{
       padding: 45px 20px 35px;
       background-image: url(../images/Asset2.png);
       background-position: center;
       background-size: cover;
       background-color: $brand;
       min-height: 848.3634px;
       color: #fff;
       h1{
              font-size: 1.9rem;
              font-weight: 800;
              margin-bottom: 10px;
       }
       img{
              width: 240px;
              margin-bottom: 0px;
       }
       p{
              font-size: 1.2rem;
              font-weight: 600;
              margin-bottom: 0px;
       }
       @media (min-width:576px) and (max-width:768px) {
              padding: 45px 5px !important;
              h1{
                     font-size: 2.3rem !important;
              }
              p{
                     font-size: 1.3rem;
              }
       }
       @media screen and (min-width:768px) {
              padding: $section-padding;
              h1{
                     font-size: 2.5rem;
              }
              img{
                     width: 290px;
              }
              p{
                     font-size: 1.4rem;
              }
       }
       // @media screen and (min-width:992px) {
       //        h1{
       //               font-size: 45px;
       //        }
       //        p{
       //               font-size: 30px;
       //        }
       // }
       @media screen and (min-width:992px) {
              padding: 0 0px;
              h1{
                     font-size: 60px;
                     margin-top: 70px;
              }
              p{
                     font-size: 50px;
                     margin-top: 64px;
                     margin-bottom: 72px;
              }
              img{
                     width: 339px;
                     margin-top: 51px;
              }
       }
}
#about-us{
       min-height: 977px ;
       display: flex;
       h2{
              color: #fff;
              font-size: 3rem;
              font-weight: 800;
              line-height: 1.1;
              margin-bottom: 20px;
       }
       p{
              color: #fff;
              font-size: 1rem;
              padding-bottom: 20px;
              margin: 0;
              font-weight: 700;
       }
       img{
              width: 235px;
              margin: 0 0 25px;
       }
       @media screen and (min-width:768px) {
              h2{
                     text-align: start;
                     font-size: 2.3rem;
              }
              img{
                     width: 91%;
                     margin: 0px;
              }
              p{
                     font-size: 1.2rem;
                     font-weight: 700;
              }
       }
       // @media screen and (min-width:992px) {
       //        h2{
       //               font-size: 80px;
       //        }
       //        p{
       //               font-size: 23px;
       //               font-weight: 500;
       //        }
       // }
       @media screen and (min-width:992px) {
              h2{
                     font-size: 105.18px;
                     margin-bottom: 68px;
              }
              p{
                     font-size: 32px;
                     padding: 0;
                     font-weight: 500;

                     &:nth-of-type(1){
                            margin-bottom: 53px;
                            padding: 0;
                     }
              }
              img{
                     width: 434.7046px;
                     height: 611.9035px;
                     margin-left: 162px;
              }
              .section-text{
                     margin-left: 188px;
                     margin-right: 170px;
              }
       }
}
#engagement-experience{
       padding: $mobile-section-padding;
       background-color: #fff;
       h2{
              text-align: center;
              font-size: 2rem;
              font-weight: 800;
              color: $brand;
              line-height: 1.3;
              margin-bottom: 40px;
              text-transform: uppercase;
       }
       img{
              width: 120px;
              margin-bottom: 15px;
       }
       p{
              font-size: 1.2rem;
              font-weight: 700;
              color: $brand
       }
       @media screen and (min-width:768px) {
              padding: $section-padding;
              h2{
                     margin-bottom: 45px;
                     font-size: 50px;
                     font-weight: 700;
              }
              p{
                     font-size: 20px;
              }
              img{
                     width: 100px;
              }
       }
       @media screen and (min-width:1920px) {
              h2{
                     font-size: 55px;
                     font-weight: 800;
              }
              p{
                     font-size: 22px;
              }
              img{
                     width: 122px;
              }
       }
}
#our-benefits{
       padding: $mobile-section-padding;
       position: relative;
       h2{
              text-align: center;
              font-size: 2rem;
              margin-bottom: 15px;
              font-weight: 700;
              color: #fff;
              line-height: 1.3;
       }
       img{
              width: 115px;
              margin-bottom: 15px;
       }
       .overlay-img{
              position: absolute;
              width: 100%;
              top: 0;
              right: 0;
              z-index: -6;
       }
       p{
              font-size: 1.2rem;
              font-weight: 400;
              color: #fff;
              span{
                     font-weight: 800;
              }
       }
       @media screen and (min-width:768px) {
              padding: 150px 5px;
              h2{
                     margin-bottom: 45px;
                     font-size: 4.5rem;
              }
              img{
                     width: 150px;
                     margin-bottom: 15px;
              }
              p{
                     font-size: 1.5rem;
              }
              .overlay-img{
                     top: -15px;
                     right: 0;
              }
       }
       @media screen and (min-width:1920px) {
              h2{
                     font-size: 80px;
              }
              p{
                     font-size: 22px;
              }
              img{
                     width: 160px;
                     margin-bottom: 15px;
              }
       }
}

#contact-us{
       padding: $mobile-section-padding;
       a{
              color: #fff;
              text-decoration: none;
              &:hover{
                     text-decoration: none;
                     color: #fff;
              }
       }
       p{
              color: #fff;
              font-size: 2rem;
              color: $light;
              &:first-child{
                     color: $accent;
                     margin-bottom: 0;
                     font-weight: 800;
              }
              &:nth-child(2){
                     color: $accent;
                     font-weight: 400;
                     margin-bottom: 20px;
              }
              &:nth-child(3){
                     color: $light;   
                     font-weight: 900;
              }
              a{
                     font-weight: 900;
                     color: $light;   
                     &:hover{
                            color: #03a381;   
                     }
              }
       }
       @media screen and (min-width:768px) {
       padding: $section-padding;
              margin-bottom: 40px;
              p{
                     font-size: 3.5rem;
                     width: 80%;
                     display: inline-block;
              }
       }
       @media screen and (min-width:1920px) {
              h2{
                     font-size: 60px;
              }
              p{
                     &:first-child{
                            font-size: 60px;
                     }
                     &:nth-child(2){
                            font-size: 55px;
                     }
                     &:nth-child(3){
                            font-size: 50px;
                     }
              }
       }
}
#footer{
       padding: $mobile-section-padding;
       p{
              color: #fff;
              font-size: 0.9rem;
              margin-left: 18px;
              margin-bottom: 0px;
       }
       a{
              background-color: #fff;
              font-size: 25px;
              margin: 0px 15px;
              border-radius: 50px;
              width: 46px;
              height: 46px;
              text-align: center;
              color: $brand;
              display: flex;
              justify-content: center;
              align-items: center;
       }
       img{
              width: 50px;
       }
       @media screen and (min-width:768px) {
              .row{
                     div{
                            &:nth-child(1){
                                   position: relative;
                                   padding-right: 65px;
                                   &::before{
                                          content: " ";
                                          position: absolute;
                                          height: 100%;
                                          width: 1px;
                                          background-color: #fff;
                                          top: 0;
                                          right: 0;
                                   }
                            }
                            &:nth-child(2){
                                   padding-left: 65px;
                            }
                     }
              }
              p{
                     font-size: 1.2rem;
              }
              img{
                     width: 80px;
              }
       }
}

.footer-bg{
       margin: 20px 0 0;
       background-image: url('../images/footer-bg.png');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: initial;
       position: relative;
       height: 150px;
       @media screen and (min-width: 768px) {
              img{
                     position: absolute;
                     top: 0;
                     left: 0;
              }
       }
       @media (min-width:576px) and (max-width:768px) {
              height: 200px;
       }
       @media screen and (min-width:768px) {
              height: 300px;
              
       }
       @media screen and (min-width:992px) {
              height: 340px;
              margin: 110px 0 0;
       }
}