.services{
       h3{
              text-align: center;
              margin: 50px 0 20px 0;
              font-size: 30px;
       }
       h4{
              font-size: 20px;
       }
}
#vid-donate-section{
       h3{
              font-size: 20px;
       }
       .plyr--video{
              border-radius: 10px;
              margin-top: 10px;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
       }
       .plyr__poster{
              background: none;
       }
}